* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #E8E7E7;
    min-height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    padding: 56px 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 690px;
    height: 810px;
    padding: 50px 26px;
    background: #E8E7E7;
    border-radius: 30px;
    border: 7px solid #B2822B;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 40px 0;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.titulo {
    align-self: stretch;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.titulo h1 {
    align-self: stretch;
    color: rgba(28, 70, 51, 0.80);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.titulo h2 {
    align-self: stretch;
    color: rgba(28, 70, 51, 0.60);
    font-size: 40px;
    font-weight: 600;
    text-align: center;

}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.form-section {
    height: 269px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 45px;
}

.input-field {
    align-self: stretch;
    height: 61px;
    padding: 11px 18px;
    background: rgba(28, 70, 51, 0.80);
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.input-field input {
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    font-size: 25px;
    font-weight: 275;
    text-align: center;
}

.input-field input::placeholder {
    color: white;
}

.buttons {
    height: 139px;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.buttons button {
    align-self: stretch;
    height: 58px;
    background: #1C4633;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 25px;
    font-weight: 275;
    cursor: pointer;
}

.btn-change {
    padding: 10px 72px;
}

.btn-back {
    padding: 10px 119px;
}

/* Focus states */
.input-field input:focus {
    outline: none;
}

/* Hover states */
.buttons button:hover {
    opacity: 0.9;
}

.header,
.footer {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header {
    top: 0;
}

.footer {
    bottom: 0;
}

@media (max-height: 900px) {
    .container {
        padding: 100px 21px;
    }

    .card {
        transform: scale(0.9);
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        padding: 30px 15px;
    }

    .titulo h1,
    .titulo h2 {
        font-size: 32px;
    }

    .content {
        gap: 40px;
    }
}